body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  background-color: var(--цвет-фона);
}
:root {
  --цвет-иконок: #afb1b8;
  --основной-цвет: #757575;
  --цвет-фокуса: #2196f3;
  --цвет-текста: #212121;
  --цвет-фона: #ffffff;
  --цвет-секции: #f5f4fa;
  --цвет-футер-фон: #2f303a;
  --цвет-кнопки-ховер: #188ce8;
  --color-border-header: #ececec;
}
a {
  text-decoration: none;
}

h2,
h3 {
  color: var(--цвет-текста);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
img {
  display: block;
}
.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*--✌️Шапка Страницы🤞--*/
.main-header {
  border-bottom: 1px solid var(--color-border-header);
}
.page-header {
  display: flex;
  align-items: center;
}
/*-------✌️LOGO🤞------*/
.logo {
  font-style: normal;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--цвет-текста);
  margin-right: 93px;
}
.logo > span {
  color: var(--цвет-фокуса);
}
/*-----✌️нав список🤞---*/
.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}
.main-nav {
  align-items: center;
}
.nav-link {
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--цвет-текста);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.after::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--цвет-фокуса);
}
.nav-link > span {
  color: var(--цвет-фокуса);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--цвет-фокуса);
}
.nav-list-contacts {
  display: flex;
  margin-left: auto;
}
.nav-contacts:not(:last-child) {
  margin-right: 50px;
}
.contacts {
  align-items: center;
  display: inline-flex;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--основной-цвет);
  fill: var(--основной-цвет);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts:hover,
.contacts:focus {
  color: var(--цвет-фокуса);
  fill: var(--цвет-фокуса);
}

.icon-contacts {
  margin-right: 10px;
}

/*----✌️Герой Страницы🤞-----*/
.section-hero {
  position: relative;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/sobranie.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--цвет-футер-фон);
}

.title {
  width: 696px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--цвет-фона);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-style: none;
  background-color: var(--цвет-фокуса);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  color: var(--цвет-фона);
}
.button:hover,
.button:focus {
  cursor: pointer;
  background-color: var(--цвет-кнопки-ховер);
}
/*-----✌️MODAL Страницы🤞------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: var(--цвет-фона);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-x {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
  margin-top: 8px;
  background: var(--цвет-фона);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close {
  position: absolute;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-x:hover .modal-close,
.modal-x:focus .modal-close {
  fill: var(--цвет-фокуса);
}
/*---✌️MODAL FORM Страницы🤞--*/
.modal-form {
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--цвет-текста);
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}
.label-name {
  height: 14px;
  width: 25px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--основной-цвет);
  margin-bottom: 4px;
}
.input-name {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 0 12px 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-name:focus {
  outline: none;
  border: 1px solid var(--цвет-фокуса);
}
.input-name:focus + .input-icon {
  fill: var(--цвет-фокуса);
}
.input-icon {
  position: absolute;
  display: inline-block;
  top: 70%;
  transform: translateY(-70%);
  left: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.text-area {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-area:focus {
  outline: none;
  border: 1px solid var(--цвет-фокуса);
}
.text-area::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.egree {
  text-decoration: underline;
  color: var(--цвет-фокуса);
}
.check-box {
  margin-bottom: 30px;
}
.icon-block {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--цвет-текста);
  border-radius: 2px;
  margin-right: 7px;
}
.chekbox:checked + .icon-block {
  border-color: var(--цвет-кнопки-ховер);
  background-color: var(--цвет-кнопки-ховер);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
.chekbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  text-align: center;
}
.label-text {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--основной-цвет);
}

.btn-submit {
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 56px;
  border-radius: 4px;
  border-style: none;
  color: var(--цвет-фона);
  background-color: var(--цвет-фокуса);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-submit:hover,
.btn-submit:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--цвет-кнопки-ховер);
}
/*--✌️Характеристики Страницы🤞---*/
.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  text-align: center;
}
.back-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--цвет-секции);
  border-radius: 4px;
  text-align: center;
  margin-bottom: 30px;
}

.Specifications {
  padding-top: 94px;
}
.Specifications-list {
  display: flex;
}
.Specifications-item {
  width: 270px;
}
.Specifications-item:not(:last-child) {
  margin-right: 30px;
}
.Specifications-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.Specifications-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/*---✌️Страница Занятье🤞---*/
.occupation {
  padding-top: 94px;
  padding-bottom: 94px;
}
.occupation-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.occupation-list {
  display: flex;
}
.occupation-item:not(:last-child) {
  margin-right: 30px;
}
.img-block {
  position: relative;
}
.img-title {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}
.img-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--цвет-фона);
}
/*-----✌️Страница КОМАНДЫ🤞---*/
.team {
  background-color: var(--цвет-секции);
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
}
.team-item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--цвет-фона);
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}
.profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.team-person {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}
/*----✌️VSG-ИКОНКИ для 
-------Страница КОМАНДЫ🤞----*/
.icon-list {
  display: flex;
  justify-content: space-between;
}
.icon-item:not(:last-child) {
  margin-right: 10px;
}
.icon-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:hover {
  background-color: var(--цвет-фокуса);
}
.icon-link:hover .icon {
  fill: var(--цвет-фона);
}
.icon {
  fill: var(--цвет-иконок);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*-----✌️страница КЛИЕНТЫ🤞-----*/
.customers {
  padding-bottom: 94px;
  padding-top: 94px;
}
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.customers-list {
  display: flex;
}
.customers-item {
  margin-right: 30px;
}
.customers-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--цвет-иконок);
  fill: var(--цвет-иконок);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-item:last-child {
  margin-right: 0px;
}
.customers-link:hover {
  fill: var(--цвет-фокуса);
  border-color: var(--цвет-фокуса);
}
/*---✌️Нижняя часть страницы🤞---*/
/*--✌️Нижняя часть LOGO🤞---*/
.logo2 {
  font-style: normal;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--цвет-фокуса);
}
.logo2 > span {
  color: var(--цвет-фона);
}
.logo2 {
  display: inline-block;
  margin-bottom: 20px;
}
.footer-page {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--цвет-футер-фон);
}
.footer-contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--основной-цвет);
}

.footer-text {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--цвет-фона);
  margin-bottom: 9px;
}
.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.icon-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--цвет-фона);
  margin-bottom: 20px;
}
.block {
  display: flex;
  align-items: baseline;
}
.footer-block {
  margin-right: 70px;
}
.footer-icon {
  display: flex;
}

.footer-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon2 {
  fill: var(--цвет-фона);
}
.footer-link:hover {
  background-color: var(--цвет-фокуса);
}
.slogan {
  margin-left: auto;
}
.slogan-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--цвет-фона);
  margin-bottom: 20px;
}
.slogan-input {
  width: 358px;
  height: 50px;
  color: var(--цвет-фона);
  background-color: var(--цвет-футер-фон);
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-right: 12px;
  padding: 15px 0 15px 16px;
}
.slogan-input:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: var(--цвет-футер-фон);
}
.slogan-btn {
  display: inline-flex;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 29px;
  border-radius: 4px;
  border-style: none;
  color: var(--цвет-фона);
  background-color: var(--цвет-фокуса);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.slogan-btn:hover,
.slogan-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--цвет-кнопки-ховер);
}
.slogan-icon {
  fill: var(--цвет-фона);
  margin-left: 10px;
}
/*----✌️Страница PORTFOLIO🤞----*/
.buttons-products {
  padding-bottom: 94px;
  padding-top: 94px;
}
/*------✌️Кнопки Страницы🤞----*/
.buttons {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  color: var(--цвет-текста);
  background-color: var(--цвет-секции);
  cursor: pointer;
  padding: 6px 22px;
  border-style: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons:hover,
.buttons:focus {
  color: var(--цвет-фона);
  background-color: var(--цвет-фокуса);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.button-item:not(:last-child) {
  margin-right: 8px;
}
/*--✌️ПЕРЕЧЕНЬ продукта Страницы🤞--*/
.product-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.product-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--основной-цвет);
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.product-item {
  width: 370px;
  background: var(--цвет-фона);
  margin-bottom: 30px;
  margin-right: 30px;
}
.product-item:nth-child(3n) {
  margin-right: 0px;
}
.product-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.product {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.product-link:hover,
.product-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product-link {
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-block {
  position: relative;
  overflow: hidden;
}

.block-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transition: transform 255ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
.block-text {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--цвет-фона);
}
.product-link:hover .block-hover {
  transform: translateY(0);
}
