@import "./utils/variables";
@import "./components/main-header";
@import "./components/section-hero";

a {
  text-decoration: none;
}
h2,
h3 {
  color: $TextColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  display: block;
}

.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
